<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>How to MIT OpenID</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<script src="/static/js/api.js"></script>
	<script src="/static/js/navbar.js"></script>
	<script src="/static/js/page.js"></script>
	<script src="/static/js/script.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="navbar-brand" href="#">6.148 | Implementing MIT OpenID</div>
		<div class="navbar-nav" id="nav-item-container">
		<!-- navbar items are inserted here -->
		</div>
	</nav>
	<div class="container feed-container">
		<div class="row">
			<div id="page"></div>
		</div>
	</div>
</body>
</html>